@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";


@font-face {
	font-family: 'Cooper Std';
	src: url('/../static/CooperBlack/CooperBlackStd.eot');
	src: url('/../static/CooperBlack/CooperBlackStd.eot?#iefix') format('embedded-opentype'),
		url('/../static/CooperBlack/CooperBlackStd.woff') format('woff'),
		url('/../static/CooperBlack/CooperBlackStd.ttf') format('truetype'),
		url('/../static/CooperBlack/CooperBlackStd.svg#CooperBlackStd') format('svg');
	font-weight: 900;
	font-style: normal;
}


/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: linear-gradient(to bottom, rgba(235,143,183,1) 0%, rgba(254,227,130,1) 100%);
$body-bg2: linear-gradient(to bottom, rgba(254,227,130,1) 0%, rgba(235,143,183,1) 100%);
$text-color: rgba(0,0,0, .7);
$brand-color: rgba(255,255,255, 1);
$drop-shadow: 4px 4px 8px -2px rgba(0,0,0,0.25);

/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-base: 'Cooper Std';
$gradient-text: -webkit-linear-gradient(left, rgba(235,143,183,1) 0%, rgba(254,227,130,1) 100%);
$red: #dd1b24;
$blue: #99c3db;
/*
 * Animations
 * -------------------------------------------------------------------------- */

 $nav-fade: all .2s ease-out;


/*
 * Video
 * -------------------------------------------------------------------------- */

.responsive-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		border: 0 none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: $drop-shadow;
	}
}

